{% extends 'base.html'%}

{% block content%}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
<div id="particles-js" class="container-fluid">
</div>
<div class="row d-flex h-100 mt-5">
  <div class="col-md-6">
    <div class="card text-white default-color" style="max-width: 20rem;">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{quote}}</p>
          <footer class="blockquote-footer">Quote by <cite title="Author">"{{quote_author}}"</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Welcome to Blogchain</h1>
    <br>
    <p>Blog site for sharing opinions.<br>Interact with us and get the latest blog posts</p>
    <br>

    <a href="{{ url_for('auth.register') }}" class="btn"
      style="background-color: transparent;color:white; border: 1px solid whitesmoke;">Join Us</a>
  </div>
</div>

{% endblock %}